

<nav class="bar">
  <div class="logo">
    <img src="https://www.droptek.com/images/logo-droptek.svg" alt="Droptek">
  </div>
  <div class="notis" >
    <img src="assets/bell.svg">
    <div class="counter" *ngIf="unread > 0">
      {{unread}}
    </div>
    <ul class="lista" *ngIf="(notifications$()  | async).length>0">
      <li *ngFor="let noti of (notifications$() | async)" (click)="markAsRead(noti)" [ngClass]="{'read': noti.read}">
        <small>{{noti.message}}</small>
      </li>
    </ul>
  </div>
</nav>
